/* Use for Titles and Menu Items */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* Use for text and mostly everything else */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:not(header) {
    padding: 0.5em;
}

header {
    background-color: #D9D9D9;
    flex-flow: row wrap;
    width: 100%;
}

div {
    background-color: black;
    width: 100%;
}

header>figure>a>img {
    box-shadow: none;
    width: 10%;
}

header>figure>img {
    box-shadow: none;
    width: 10%;
}


#logo {
    width: 100%;
    justify-self: center;
}

#cart {
    justify-self: flex-start;
}

#navigation {
    justify-self: flex-end;
}

body {
    flex-flow: row wrap;
    justify-content: center;
}

.button {
  color: #F8F8F0;
  background-color: #9E1D21;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid black;    /* Dark gray */
  border-radius: 30px;

  width: 200px;
  margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.column {
    width: 48%;
}

.column.photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt', sans-serif;
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

p {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 2em;
    padding: 0.5em;
}

li {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 2em;
}

img {
    box-shadow: -1em -1em black;
    max-width: 75%;
}

#tameem, #james {
    width: 20%;
}
