/* Use for Titles and Menu Items */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* Use for text and mostly everything else */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 1.5em;
}

html {
    background-color: #F8F8F0;
}

main {
    width: 75vw;
    margin: 0 auto;
}

a {
    color: #F3D13C;
    font-size: 2em;
}

a:hover {
    color: #F8F8F0;
}

a:active {
    color: #F3D13C;
}


:not(header) {
    padding: 0.5em;
}

header {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

#logo,
#cart,
#navigation {
    display: flex;
    align-items: center;
}

#logo {
    display: inline-block;
    width: 44%;
    content: "";
    background-image: url("../Images/JP-Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cart {
    background-color: #D9D9D9;
    display: flex;
    width: 28%;
    align-items: center;
    justify-content: flex-start;
}

#shopping-cart {
    color: black;
    font-size: 4em;
}

div.dropdown {
    background-color: #D9D9D9;
    display: flex;
    width: 28%;
    align-items: center;
    justify-content: flex-end;
}

button.dropbtn {
    background-color: #D9D9D9;
    width: 40%;
    justify-self: center;
}

#navigation {
    display: flex;
    justify-content: flex-end;
}

div {
    content: "";
    background-color: black;
    
}


.row {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 1.5em;
}

.column {
    background-color: #568C6D;
    color: white;
    border: black solid 10px;
    width: 45%;
    padding: 2em;
}

header img {
    box-shadow: none;
}

.carousel img {
    object-fit: cover;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
    max-height: 80%;
}

body {
    flex-flow: row wrap;
    justify-content: center;
}

.kiryu {
    display: flex;
    justify-content: center;
}

.button {
    color: #F8F8F0;
    background-color: #9E1D21;
    /* Blue */
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    border: 2px solid black;
    /* Dark gray */
    border-radius: 30px;

    width: 200px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.column-photos {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: row;
    align-items: center;
}

.full {
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt', sans-serif;
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

p {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 2em;
    padding: 1.5em;
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 1.5em;
}

img {
    padding: 0em;
    box-shadow: 0em 1em 2em 0em rgba(0, 0, 0, 0.2);
    max-width: 75%;
}

#tameem,
#james {
    width: 70%;
}

#james:active {
    padding: 0em;
    box-shadow: 1em 1em black;
    width: 70%;
    content: url(/Images/thousand-yard-stare.jfif);
}

#tameem:active {
    padding: 0em;
    box-shadow: 1em 1em black;
    width: 70%;
    content: url(/Images/drake.jfif);
}

#mascot:active {
    padding: 0em;
    box-shadow: 1em 1em black;
    width: 45%;
    content: url(/Images/pickled.jpg);
}

#mascot {
    width: 45%;
}

.reservation-container {
    flex-flow: column wrap;
    width: 50%;
    background-color: #568C6D;
    justify-content: center;
    color: white;
    border: black solid 10px;
}

.squiggle {
    display: flex;
    content: "";
    background-image: url("/Images/squiggle.png");
    background-repeat: repeat-y;

}

.horizontal {
    flex-flow: row wrap;
}

.vertical {
    flex-flow: column wrap;
}

.online-res,
.num-res {
    font-size: 0.89em;
}

#about, #itinerary {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 1em;
    color: #F3D13C;
    text-decoration: underline #F3D13C;
    padding: 0em;
}

.secret {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 1em;
    color: #F8F8F0;
    text-decoration: none;
    padding: 0em;
}

.secret:hover {
    color: yellow;
}

.LookUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fit {
    width: fit-content;
}

/* Table CSS */
table {
    background-color: #568C6D;
    color: #F8F8F0;
    border: 10px black dotted;
    width: 70%;
    font-size: 3em;
}

td:nth-of-type(1) {
    padding: 0.01em;
    border-right: 0.5em black solid;
}

.items-checkout {
    background-color: gray;
    color: white;
    border: 10px black solid;
}

.you-may-like {
    background-color: #568C6D;
    color: white;
    font-size: 1em;
    width: 35%;
    border: 10px black solid;
}

.Jurassic-Pay {
    width: 45%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* Slideshow container */
.carousel {
    height: 500px;
    max-width: 100%;
    position: relative;
    width:65%;
    margin-left: 16em;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media screen and (max-width: 1200px) {

    .row {
        width: 100%;
    }

    .column {
        width: 100%;
    }

    .column-photos {
        width: 100%;
    }
  }